
		<td colspan='2'  class="rccPropButtons">
	        <button type="button" class="btn btn-primary" {{action 'actDelete' value}}>Delete</button>
	        <button type="button" class="btn btn-primary {{unless value.isDirty 'disabled'}}" {{action 'actSave' value}}>Save</button>
        </td>

